.item1 {grid-area: header; text-align: center;}
.item2 {grid-area: btns; text-align: right;}
.item3 {grid-area: radios; text-align: left;}
.item4 {grid-area: tables; text-align: left;}
*{max-height: 100%;}
.grid-container {
    display: grid; 
    grid-template-areas: 
    'header header'
    'btns radios'
    'btns tables';
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
}

.item3 {
    display: grid;
}

.item4 {
    height: 100%;
    text-align: left;
}

.grid-container {
    display: grid;
    gap: 0px; 
}

#buttons button {
    display: block;
    border: black 5;
    padding: 10px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas:
        'header'
        'btns' 
        'radios'
        'tables';
        grid-template-columns: 100%;
    }
}
  
/* Modal Content */
.opretModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 200px;    
    display: grid;
}

.opretModal-content * {
    margin: 2px;
}

.opretUserModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 200px;    
    display: grid;
}

.opretUserModal-content * {
    margin: 2px;
}

.ændreModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: fit-content;  
    max-height: 90%;  
    display: grid;
}

#produktTable{
    overflow-y:scroll;
    height:30rem;
    display:block;
    overflow-x: scroll;
 }

 
.allUsersModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: fit-content;  
    max-height: 80%;  
    display: grid;
    overflow-y: scroll;
    overflow-x: scroll;
}

#usersTable{
    overflow-y:scroll;
    height:300px;
    display:block;
 }

body {
    font-family: Arial;
    overflow: hidden;
}

 