#buttons button {
    display: block;
    padding: 10px;
    margin: 10px;
}
  
/* Modal Content */
.opretModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 200px;    
    display: grid;
}

.opretModal-content * {
    margin: 2px;
}

.ændreModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: fit-content;  
    max-height: 80%;  
    display: grid;
}

#produktTable{
    overflow-y:scroll;
    height:300px;
    display:block;
 }