.item1 { grid-area: header; text-align: center;}
.item2 { grid-area: menu; text-align: left;}
.item3 { grid-area: bestilling; text-align: -webkit-right;}
.item4 { grid-area: footer; text-align: left;}
*{max-height: 100%;}
.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'menu bestilling'
        'menu footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 500px;
    grid-gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
}

.item2 {
    height: 100%;
    overflow-y:scroll;
}

.item3 {
    text-align: -webkit-left;  
    overflow-y:scroll;   
}

.item4 {
  height: 100%;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .grid-container { 
    grid-template-areas:
        'header'
        'menu'
        'bestilling'
        'footer';
        grid-template-columns: 100%;
  }  
}

#empty{
    background-color: white;
}

#orders{
  overflow-y:scroll;
  height:30rem;
  display:block;
  overflow-x: hidden;
}

#produktTable, #regning {
    /* height: 100%;
    min-height: 100%; */
    max-height: 100%;
    width: 90%;
}

tr {
    height: 41px;
}

.narrow{
    width: 49px;
}


label {
    font-size: 25px;
    font-weight: bold;
}

textarea {
  font-size: 20px;
  font-family: sans-serif;
}

input {
    font-size: 20px;
}

select {
    font-size: 15px;
}

#editModalDiv{
    max-width: fit-content;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    min-width: 100%; /* Full width */
    min-height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: scroll;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: fit-content;
    display: grid;
    width: fit-content;
    height: fit-content;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 10px 6px #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 12px;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;

}

body {
  font-family: Arial;
  overflow: hidden;
}

img{
  width: 20px;
}

div > *{
  /* margin-top: 10px;
  margin-bottom: 10px; */
  margin: 5px 5px 5px 5px;
}
table th {
  background-color: #4CAF50;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #9e9d9d;}
table tr:hover {background-color: #ddd;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 10px 6px #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 12px;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}