.item1 { grid-area: header; text-align: center;}
.item2 { grid-area: menu; text-align: left;}
.item3 { grid-area: bestilling; text-align: -webkit-right;}
*{max-height: 100%;}
.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'menu bestilling';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 500px;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    /* padding: 10px; */
}

.item4 {grid-area: footer2; text-align:  webkit-left;}
.item5 {grid-area: footer; text-align: right;}
.grid-footer {
    display: grid;
    grid-template-areas: 
    'footer footer2';
    grid-template-columns: 65% 35%;
    grid-template-rows: 150px 100px;
    grid-gap: -50px;
}

.item2 {
    height: 100%;
    overflow-y:scroll
}

.item3 {
    text-align: -webkit-left;  
    overflow-y:scroll    
}

#empty{
    background-color: white;
}

#produktTable, #regning {
    /* height: 100%;
    min-height: 100%; */
    max-height: 100%;
    width: 90%;
}

tr {
    height: 41px;
}

.narrow{
    width: 49px;
}

button {
    font-size: 20px;
    border: black 5;
    padding: 5px 10px;
}

label {
    font-size: 25px;
    font-weight: bold;
}

input {
    font-size: 20px;
}

select {
    font-size: 25px;
}

#editModalDiv{
    max-width: fit-content;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: fit-content;
    display: grid;
    width: fit-content;
    height: fit-content;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.section1 {
    clear: both;
	padding: 0px;
	margin: 0px;
}

.section2 {
    clear: both;
	padding: 0px;
	margin: 0px;
}

/* .grid-container {
    display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
} */
/*
.grid-footer {
    display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.grid-container:first-child { margin-left: 0%;}
.grid-footer:first-child {margin-right: 0%;}

.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group {zoom: 1;}

@media only screen and (max-width: 480px) {
	.grid-container { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

@media only screen and (max-width: 480px) {
	.grid-footer { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
} */